body{
    margin: 5%;
    background: #232323;
    color: #f7f7f7;
}
.D_menu{
    display: flex;
    cursor: pointer;
    justify-content: space-around;
}

[data-content]{
    display: none;
}
.active[data-content]{
    display: block;
}

.menu {
    display: inline-block;
    padding: 2% 3%;
    border-radius: 4px;
    background-color: #232323;
    color: #f7f7f7;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    border-color: red;
    
}

.menu:hover{
    background-color: red;
    transform: scale(1.2);
    
  }

  .menu:active{
    background-color: aqua;
    transition: all;
    
}

  .content{
    margin: 10%;
    margin: solid;
}

.img{
    
    width: 20%;
    height: 20%;
    justify-content: center;
    border-color: red;
    text-align: center;
    margin: auto;
    display: block;
}



  